<div class="form_background mb-5">
  <%= simple_form_for @teckel do |f| %>
  <div class="d-flex">
    <div class="form_part me-5 form_string description">
    <%= f.input :name, input_html: { class: "form_input"} %>
    <%= f.input :hair, collection: Teckel::HAIR, input_html: { class: "form_input" } %>
    <%= f.input :species, collection: Teckel::SPECIES, input_html: { class: "form_input" } %>
    <%= f.input :color, input_html: { class: "form_input" } %>
    <%= f.input :age, input_html: { class: "form_input" } %>
    <%= f.input :sex, collection: Teckel::SEX, input_html: { class: "form_input" }  %>
    <%= f.input :address, input_html: { class: "form_input" } %>
  </div>
  <div class="form_part form_string description">
    <%= f.input :special_features, input_html: { class: "form_input" } %>
    <%= f.input :description, input_html: { class: "form_input" } %>
    <%= f.input :anecdote, input_html: { class: "form_input" } %>
    <%= f.input :price, input_html: { class: "form_input" } %>
    <%= f.input :photo, as: :file, input_html: { class: "form_input" } %>
      <div class="d-flex justify-content-between align-items-center mt-5">
        <%= f.button :submit, class: "btn btn-cutie btn-link" %>
        <%= link_to teckels_path do %>
          <button class="btn btn-cutie btn-link">Back</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
