<div class="container-payment">
  <div class="container-payment-card">
    <div class="section-payment">
      <p>
        Hi <%= @user.username %> we are now confirming your reservation !
        You will rent <%= @teckel.name %> <%= @teckel.user.username %>
        from the 1rst of June to the 23rd August 2022.
        Based on your rate of <%= @teckel.price %> euros per night,
        your potential payout should be  <%=  %> euros.
      </p>
    </div>
    <div class="section-payment">
      <h2><%= @teckel.name %></h2>
      <% @user.teckels.each do |teckel| %>
        <%= teckel.name %>
        <%= cl_image_tag teckel.photo.key, height: 300, width: 400, crop: :fill, class:'card-show-img' %>
      <% end %>
    </div>
    <div class="section-payment">
      <% @user.reservations.each do |reservation| %>
        <%= reservation.teckel.name %>
        <%= reservation.starting_date %>
        <%= reservation.ending_date %>
      <% end %>
    </div>
  </div>
</div>
