

<h1 class="profile_title">Profile</h1>
<%# <%= @user.username%>
<hr>

<div class="profile_container">

  <div class="my_teckel_container">
    <h3 class="title_h3">my lovely teckels</h3>
      <% @user.teckels.each do |teckel|%>
          <%# <div class="teckel-description"> %>
        <div class="card_background">
        <div class="teckel_name"><%= teckel.name%></div>
          <%= cl_image_tag teckel.photo.key, crop: :fill, class: "card_img"%>
          <div class="d-flex justify-content-between card_title pb-0 px-3 pt-2 mb-1">
          <p class="card_descr px-3"><%= teckel.description %>
          </p>
          </div>
          <div class="teckel_age"><%= teckel.age %></div>
          <p>4,87 <i class="fa-solid fa-star"></i></p>
          <div class="d-flex px-3 pb-2 mt-1">
            <p class="card_price "><%= teckel.price %></p><p> / nuit</p>
          </div>
        </div>
      <% end%>
        <%= link_to "Add a pet",  new_teckel_path, class:"btn btn-cutie btn-link" %>
  </div>
  <hr>

  <div class="reservation my_teckel_container">
    <h3 class="title_h3">My reservations</h3>
      <% @user.teckels.each do |teckel|%>
          <%# <div class="teckel-description"> %>
        <div class="card_background card_background_profile">
        <div class="teckel_name"><%= teckel.name%></div>
          <%= cl_image_tag teckel.photo.key, crop: :fill, class: "card_img"%>
          <div class="d-flex justify-content-between card_title pb-0 px-3 pt-2 mb-1">
          <p class="card_descr px-3"><%= teckel.description %>
          </p>
          </div>
          <div class="teckel_age"><%= teckel.age %></div>
          <p>4,87 <i class="fa-solid fa-star"></i></p>
          <div class="d-flex px-3 pb-2 mt-1">
            <p class="card_price "><%= teckel.price %></p><p> / nuit</p>
          </div>
        </div>
      <% end%>
      <div class="reservation_link">
        <%= link_to "accept",  new_teckel_path, class:"btn btn-cutie btn-link" %>
        <%# <%= link_to "delete",  reservation_path(@reservation), method: :delete, class:"btn btn-cancel btn-link" %>
      </div>
    </div>
</div>

<% @user.teckels.each do |teckel| %>
  <%= teckel.name %>
   <%= cl_image_tag teckel.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<% @user.reservations.each do |reservation| %>
   <%= reservation.teckel.name %>
   <%= reservation.starting_date %>
   <%= reservation.ending_date %>
<% end %>
