<h1 class="profile_title">Profile</h1>

<hr>

<h3 class="title_h3">my lovely teckels</h3>
<div class="container">
  <% @user.teckels.each do |teckel|%>
    <div class="card_background">
        <%= link_to teckel_path(teckel) do %>
        <%= cl_image_tag teckel.photo.key, height: 300, width: 400, crop: :fill, class: "card_img" %>
        <div class="d-flex justify-content-between card_title pb-0 px-3 pt-2 mb-1">
          <p>Meet <%= teckel.name %></p>
          <p>5<i class="fa-solid fa-star"></i></p>
        </div>
        <p class="card_descr px-3"></p>
        <p class="p-padding-payment"><%= teckel.description %></p>
        <div class="d-flex px-3 pb-2 mt-1">
          <p class="card_price"><%= teckel.price %>€</p>
        </div>
      <% end  %>
    </div>
  <% end %>
</div>

  <div class="reservation_link">
    <%= link_to "Add a pet",  new_teckel_path, class:"btn btn-cutie btn-link" %>
  </div>

  <hr>

  <h3 class="title_h3">My reservations</h3>
  <div class="container-payment">
   <% @asked_reservations.each do |reservation| %>
   <%= link_to  teckel_path(reservation.teckel) do%>
    <div class="card_background">
        <%= cl_image_tag reservation.teckel.photo.key, height: 300, width: 400, crop: :fill, class: "card_img" %>
        <p class="teckel_name description"><%= reservation.teckel.name %></p>
        <p class="description"> <%= reservation.teckel.description %></p>
        <p class="p-padding">Dates : <%= reservation.starting_date %> to <%= reservation.ending_date %></p>
        <p class="p-padding">Renter : <%= reservation.user.username %></p>
        <div class='p-padding'>
    <% end %>
          <%= simple_form_for [reservation.teckel, reservation] do |f| %>
            <%= f.input :status, collection: Reservation::STATUS %>
            <%= f.button :submit, class:'btn btn-cutie btn-link'%>
          <% end %>
        </div>
        <div class="d-flex justify-content-between card_title pb-0 px-3 pt-2 mb-1">
          <p> <%= reservation.teckel.age %> years old</p>
          <p>5<i class="fa-solid fa-star"></i></p>
        </div>
        <p class="card_descr px-3"></p>
        <div class="d-flex px-3 pb-2 mt-1">
          <p class="card_price"><%= reservation.teckel.price %>€ per night</p>
        </div>
    </div>
  <% end %>
</div>
<hr>
<div>
 <h3 class="title_h3">My reservations as renter</h3>
  <div class="container-payment">
    <% @user.reservations.each do |reservation| %>
      <div class="container-payment-card">
        <div class="img-center">
          <img class="logo" src="https://res.cloudinary.com/dfaupoje1/image/upload/v1653487862/teckel/teckel_ummbhi.jpg" alt="">
        </div>
        <% if reservation.status == "Accept" %>
         <div class="section-payment">
          <p>
            Hi <%= @user.username %> we just confirmed your reservation !
            You will rent <%= reservation.teckel.name %> from <%= @user.username %>
            from <%= reservation.starting_date %> to the <%= reservation.ending_date %>.
            Based on the rate of <%= reservation.teckel.price%>€ per night.
          </p>
        </div>
        <div class="section-payment">
          <div class="img-center">
            <h3 class="title_h3"><%= link_to reservation.teckel.name, teckel_path(reservation.teckel) %></h3>
            <%= cl_image_tag reservation.teckel.photo.key, class:'card-payment-img' %>
          </div>
        </div>
        <div class="section-border section-border-empty">
          <p>Reservation recap</p>
        </div>
          <div class="section-payment section-border-bottom">
            <p>Renting from <%= reservation.starting_date %> to <%= reservation.ending_date %></p>
            <% t = reservation.ending_date - reservation.starting_date %>
            <p>
              Thank you <%= @user.username %> for booking our cutie <%= @user.teckels.name %>,
              we hope you will have a great experience !
            </p>
            <p>
              Best Regards from Teckeloc team.
              <hr>
              Status : <%= reservation.status %>
            </p>
          </div>
        <% elsif reservation.status == "Decline" %>
         <div class="section-payment">
          <p>
            Hi <%= @user.username %> we are sorry but your reservation has been declined
            for the rental of <%= reservation.teckel.name %> from <%= @user.username %>.
          </p>
        </div>
        <div class="section-payment">
          <div class="img-center">
            <h3 class="title_h3"><%= link_to reservation.teckel.name, teckel_path(reservation.teckel) %></h3>
            <%= cl_image_tag reservation.teckel.photo.key, class:'card-payment-img' %>
          </div>
        </div>
        <div class="section-border section-border-empty">
          <p>Reservation recap</p>
        </div>
          <div class="section-payment section-border-bottom">
            <p>Renting from <%= reservation.starting_date %> to <%= reservation.ending_date %></p>
            <% t = reservation.ending_date - reservation.starting_date %>
            <p>
              Hi We are sorry <%= @user.username %> but your reservation for <%= @user.teckels.name %> has been declined !
            </p>
            <p>
              Best Regards from Teckeloc team.
              <hr>
              Status : <%= reservation.status %>
            </p>
          </div>
        <% else %>
         <div class="section-payment">
          <p>
            Hi <%= @user.username %> we are now waiting to confirm your reservation !
            You want to rent <%= reservation.teckel.name %> from <%= @user.username %>
            from from <%= reservation.starting_date %> to the <%= reservation.ending_date %>.
            Based on the rate of <%= reservation.teckel.price%>€ per night.
          </p>
        </div>
        <div class="section-payment">
          <div class="img-center">
            <h3 class="title_h3"><%= link_to reservation.teckel.name, teckel_path(reservation.teckel) %></h3>
            <%= cl_image_tag reservation.teckel.photo.key, class:'card-payment-img' %>
          </div>
        </div>
        <div class="section-border section-border-empty">
          <p>Reservation recap</p>
        </div>
        <div class="section-payment section-border-bottom">
            <p>Renting from <%= reservation.starting_date %> to <%= reservation.ending_date %></p>
            <% t = reservation.ending_date - reservation.starting_date %>
            <p>
              Hi <%= @user.username %>  your reservation for <%= @user.teckels.name %> is pending...!
            </p>
            <p>
              Best Regards from Teckeloc team.
              <hr>
              Status : <%= reservation.status %>
            </p>
        </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
