<header class="header">
  <div class="header__logo">
    <%= link_to root_path do %>
    <img class="teck" src="https://res.cloudinary.com/dfaupoje1/image/upload/v1653487862/teckel/teckel_ummbhi.jpg" alt="">
    <% end %>
  </div>

    <%= form_tag teckels_path, method: :get do %>

      <%= text_field_tag :query, params[:query], placeholder: "Find your dog ..." %>

    <% end %>


  <div class="dropdown-center">
    <button class="btn btn-link text-decoration-none dropdown-toggle" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://res.cloudinary.com/dfaupoje1/image/upload/v1653487869/teckel/teckel-item_p2odzz.jpg" class="avatar dropdown-toggle" alt="teckel">for more
    </button>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
        <%= link_to "Profile", profile_path, class: "dropdown-item" %>
        <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
        <%= link_to "Log-in", user_session_path, class: "dropdown-item" %>
        <%= link_to "Register",  new_user_registration_path, class: "dropdown-item" %>
        <% end %>
        <%= link_to "Add your teckel", new_teckel_path, class: "dropdown-item" %>

      </ul>
  </div>
</header>
