<header class="header">
  <div class="header__logo">
    <%= link_to root_path do %>
    <%= image_tag 'teckel', class:'teck', alt:'teckel' %>
    <% end %>
  </div>

  <div class="header__search">
    <input id= "address" type="text" placeholder="Address">
    <span></span>
    <input id="dates" type="date" placeholder="dates">
    <span></span>
  </div>

  <div class="dropdown-center">
    <button class="btn btn-link text-decoration-none dropdown-toggle" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag 'teckel-item', alt:"teckel", class:"avatar dropdown-toggle" %> for more
    </button>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
        <%= link_to "Profile", profile_path, class: "dropdown-item" %>
        <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
        <%= link_to "Log-in", user_session_path, class: "dropdown-item" %>
        <%= link_to "Register",  new_user_registration_path, class: "dropdown-item" %>
        <% end %>
        <%= link_to "Add your teckel", new_teckel_path, class: "dropdown-item" %>

      </ul>
  </div>
</header>
